題目 : 將以下問卷資料的職業(Profession)欄位缺失值填入字串'others'，更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?

In [20]:
import pandas as pd

In [21]:
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

#缺失值填入字串'others'

In [22]:
q_df=q_df.fillna("others")
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

#更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?

In [23]:
#使用one-hot encoding，因為Profession欄位表示職業，職業之間沒有順序性
pf = pd.get_dummies(q_df[['Profession']]) #建立一個dummies表為pf再將兩個表相連
q_df = pd.concat([q_df, pf], axis=1) #axis=1橫向相連
q_df

,Sex,Profession,Profession_engineer,Profession_others,Profession_teacher
0,male,teacher,0,0,1
1,male,engineer,1,0,0
2,female,others,0,1,0
3,female,engineer,1,0,0